* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    
}

body {
    background-color:#26202B;
    color: white;
}


/* Header */

.header {
    display: flex;
    position: relative;
    top: 0;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: #2E3239;
    z-index: 1;

}

.logo {
    justify-content: space-around;
    margin-left: 60px;
    display: flex;
}

.logoimg {
    width: 50px;
}

.menu{
    font-size: 2.5rem;
    margin-right: 25px;
    display: none;
}


.navbar ul {
    display: flex;
    padding-right: 30px;
    
}

.navbar ul li {
    padding: 0 35px;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.signbtn {
    background-color: #5F7ADB;
    padding: 10px;
    border-radius: 5px;
    display: inline;
}

@media (max-width:850px) {
    .header{
        justify-content:space-between;
    }

    .navbar ul {
        display: none;
        position: absolute;
        right: 30px;
        margin-top: 60px;
        background-color: #5F7ADB;
        border-radius: 5px;
        animation: nav 0.4s ease-in-out;
    }

    @keyframes nav {
        from{
         margin-right: -500px;
        }to{
            margin-right:0px;
        }
    }

    .navbar ul li {
        padding:25px;
        margin: auto;  
    }
    .logo{
        display: block;
        margin-left: 30px;
    }
    .signbtn {
        background-color: transparent;
        padding:0;
        display: block;
    }
    .menu{
        display: block;
    }
}

/* End of header */

/* Main */

.main {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.maindetail {
    width: 50%;
   padding-left: 50px;
}

.maindetailheader {
    font-size: 3.8vw;
    font-weight: bolder;
}

.maindetailexplain {
    font-size: 1.8vw;
    font-weight: 100;
    padding: 10px 0;
    color: rgb(215, 201, 201);
}

.maindetailbtn {
    display: flex;
  justify-content:start;
    margin-top: 20px;
}


.mybutton {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    background-color: #5F7ADB;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
  }

  .mybutton a{
    text-decoration: none;
    color:white;
  }
   

.mainimg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainimginner {
    width:clamp(100px,80%,1000px);
    height: 500px;
}

.arrow{
    position: absolute;
    bottom: 25px;
    color:white;
    font-size: 2.5rem;
}

@media (max-width:650px){

   
 
.arrow{
    display: block;
    font-size: 22px;
    margin-bottom: -15px;
}

.maindetail{
    
     width: 100%;
    align-items:center;
    text-align: left;
    height: 450px;
}

.mainimg{
    width: 100%;
    height: 350px;
  }

.maindetailheader{
    font-size: 5.4vw;
}

.maindetailexplain{
    font-size: 3.8vw;
}

.mybutton{
    padding: 15px 25px;
    font-size: 13px;
}
}

/* End of main */

/* Second Page */

.secondpage{
    width: 100%;
    height: calc(110vh - 100px);
    background-color:#26202B;
    color: white;
   padding:20px 10px;
}

.secondpheader{
  padding:15px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  transform: skewX(-9deg);
  background-color: #5f7adb70;
  display: inline-block;
}

.secondpheader2{
    padding:15px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  transform: skewX(-9deg);
  background-color: #5f7adb70;
  display: inline-block;
  margin-top: 80px;
}
    

.explainbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding-top: 30px;
  
    
}
.boximg{
width: 70px;
padding-top: 40px;
}

.explainbox .box{
height: auto;
    width: clamp(0,90%,600px);
    background-color: #2E3239;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:60px 10px;
   
}

.numberbox{
    position: absolute;
    top:15px;
    left:15px;
    display: inline-block;
    padding: 10px 18px;
    background-color: rgba(111, 200, 39, 0.404);
    border-radius: 50%;

}

.boxheader{
    font-weight: bolder;
    text-transform:capitalize;
    font-size: 28px;
    letter-spacing: 0.2rem;
    
}

.boxfooter{
    padding:5px;
    font-size: 16px;
    text-transform:capitalize;
    white-space:pre-line;
    text-align: center;
    color:grey;
}

.boxfooter a{
    color:rgb(111, 200, 39);
    text-decoration: none;
}

footer{
    display: inline-block;
    background-color: #2E3239;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding:22px 0px;
}

@media (max-width: 650px) {
    .explainbox{
        grid-template-columns: repeat(1,1fr);
        justify-content: space-between;
    }
}

/* End of second page */


/* ..................................................... */

/* Register.html */

.regismain{
    width: 100%;
    height: calc(100vh - 100px);
  
}
.regisform{
    width:clamp(400px,80%,1300px);
    border-radius: 10px;
    height: 600px;
    position: absolute;
    background-color: #2E3239;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    flex: 1 1;
}

.regisimg{
    background-image: url("img/pick.jpeg");
    border-radius: 10px;
    width:50%;
    height: 600px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.regisdetail{
    width: 50%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regisdetailheader{
    font-size: 40px;
    letter-spacing: .2rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group label {
    position: absolute;
    top: 33px;
    left: 7px;
    transition: all 0.3s ease;
    pointer-events: none;
    color: #ffffff;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
    top: -4px;
    font-size: 14px;
    color: #ffffff;
}

.form-group input {
    width: 300px;
    padding: 10px;
    height: 50px;
    display: inline-block;
    border: 1px solid #999;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #5F7ADB;
    outline: none;
    color:white;

}

.submitbtn{
    padding:18px 50px;
    margin-top: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #5F7ADB;
    color:white;
    cursor: pointer;
    outline: none;
    border:none;
}

.regisdetail p{
    padding: 30px 0px;
    margin-right: 30px;
}

.regisdetail p a{
    color:rgb(111, 200, 39);
    text-decoration: none;
}

@media (max-width: 650px) {
    .regisimg{
        display: none;
    }

    .regisform{
        margin-top: 50px;
    }

    .regisdetail{
        width: 100%;
    }
}

